<!DOCTYPE html>
<html>
<head>
    <meta name="ap-local-base-url" content="{{localBaseUrl}}">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="dashboard" content="{{{dashboard}}}">
    <meta name="dashboardItem" content="{{{dashboardItem}}}">

    <link rel="stylesheet" href="//aui-cdn.atlassian.com/aui-adg/6.0.7/css/aui.min.css" media="all">
    <link rel="stylesheet" href="{{furl '/css/addon.css'}}" type="text/css" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="//aui-cdn.atlassian.com/aui-adg/6.0.7/js/aui.min.js" type="text/javascript"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script src="https://cdn.jsdelivr.net/rsvp/3.0.6/rsvp.min.js"></script>
    <script src="{{hostBaseUrl}}/atlassian-connect/all.js"></script>
</head>

<body>
<section id="content" role="main">
    <div class="aui-page-panel ac-content">
        <div class="aui-page-panel-inner">
            <section id="addon-wrapper" class="aui-page-panel-content">
            </section>
        </div>
    </div>
</section>

<!--Templates for Add-on Header-->
<script type="text/underscore-template" id="addonHeaderTitleTemplate">
</script>
<script type="text/underscore-template" id="addonHeaderOverallRowTemplate">
    <tr>
        <td>Overall Progress:</td>
        <td>
            <ul class="ag-progress">
                <% if (release.totalPoints == 0) { %>
                    <li class="ag-notfound" style="width:100%"><span class="ag-status-info"><b>None</b></span></li>
                <% } else { %>
                    <% if (release.donePoints > 0) { %>
                        <li class="ag-done simple-tooltip" style="width:<%=release.percentDone%>%" title="<%=release.donePoints%> Story Points Done">
                            <a href="{{hostBaseUrl}}/secure/IssueNavigator.jspa?reset=true&amp;jqlQuery=statusCategory = %22Done%22 AND fixVersion = %22<%=release.versionName%>%22" class="ag-status-info" target="_blank">
                                <b><%=release.donePoints%></b>
                            </a>
                        </li>
                    <% } %>
                    <% if (release.inProgressPoints > 0) { %>
                        <li class="ag-inprogress simple-tooltip" style="width:<%=release.percentInProgress%>%" title="<%=release.inProgressPoints%> Story Points In Progress">
                            <a href="{{hostBaseUrl}}/secure/IssueNavigator.jspa?reset=true&amp;jqlQuery=statusCategory = %22In Progress%22 AND fixVersion = %22<%=release.versionName%>%22" class="ag-status-info" target="_blank">
                                <b><%=release.inProgressPoints%></b>
                            </a>
                        </li>
                    <% } %>
                    <% if (release.toDoPoints > 0) { %>
                        <li class="ag-todo simple-tooltip" style="width:<%=release.percentTodo%>%" title="<%=release.toDoPoints%> Story Points To Do">
                            <a href="{{hostBaseUrl}}/secure/IssueNavigator.jspa?reset=true&amp;jqlQuery=statusCategory = %22To Do%22 AND fixVersion = %22<%=release.versionName%>%22" class="ag-status-info" target="_blank">
                                <b><%=release.toDoPoints%></b>
                            </a>
                        </li>
                    <% } %>
                <% } %>
            </ul>
        </td>
    </tr>
</script>
<script type="text/underscore-template" id="addonHeaderDateRowTemplate">
    <tr>
        <td>
            Overall Schedule:<br>
        </td>
        <td>
            <ul class="ag-progress">
                <% if (release.totalDays == 0) { %>
                    <li class="ag-notfound" style="width:100%"><span class="ag-status-info"><b>Release Schedule Not Available</b></span></li>
                <% } else { %>
                    <% if (release.daysPast > 0) { %>
                        <li class="ag-past" style="width:<%=release.percentDaysPast%>%">
                            <span class="ag-status-info simple-tooltip" title="<%=release.daysPast%> Days Past"><b><%=release.daysPast%> Days Past</b></span>
                        </li>
                    <% } %>
                    <% if (release.daysRemaining > 0) { %>
                        <li class="ag-future" style="width:<%=release.percentDaysRemaining%>%">
                            <span class="ag-status-info simple-tooltip" title="<%=release.daysRemaining%> Days Remaining"><b><%=release.daysRemaining%> Days Remaining</b></span>
                        </li>
                    <% } %>
                <% } %>
            </ul>
            <div style="display: flex; width: 100%">
            <div style="width: 50%"><small><em><%=release.startDate%></em></small></div>
            <div style="width: 50%"><small><em style="float: right;"><%=release.endDate%></em></small></div>
            </div>
        </td>
    </tr>
</script>

<!--Templates for Epic Table-->
<script type="text/underscore-template" id="noIssuesTemplate">
    <span>No Epics found in <%=config.projectName%> for <%=config.versionName%>.</span>
</script>
<script type="text/underscore-template" id="epicTableTemplate">
    <span><br></span>
    <table id='epic-table' class='aui'>
        <thead>
            <th id="summary">Summary</th>
            <th id="status">Status</th>
            <% if (hasRisks) { %>
                <th id="risk">Risk</th>
            <% } %>
            <% if (hasAlerts) { %>
                <th id="alerts">Alerts</th>
            <% } %>
            <th id="progress">Progress</th>
        </thead>
        <tbody></tbody>
    </table>
    <span><br></span>
</script>
<script type="text/underscore-template" id="epicTableRow">
    <tr>
        <td headers="summary">
            <p><a class="issue-link" data-issue-key="<%=epic.key%>" href="{{hostBaseUrl}}/browse/<%=epic.key%>" target="_blank"><%=epic.summary%></a></p>
        </td>
        <td headers="status">
            <span class="aui-lozenge aui-lozenge-subtle <%=epic.lozengeColorClass%>"><%=epic.statusCategoryName%></span>
        </td>
        <% if (hasRisks) { %>
            <td headers="risk">
                <% if (epic.riskLevel) { %>
                    <span class="aui-lozenge <%=epic.riskLozengeClass%> simple-tooltip" title="<%=epic.riskDescription%>"><%=epic.riskLevel%></span>
                <% } %>
            </td>
        <% } %>
        <% if (hasAlerts) { %>
            <td headers="alerts">
                <% if (epic.percentUnestimatedStories > epic.percentUnestimatedErrorThreshold) { %>
                    <a href="{{hostBaseUrl}}/secure/IssueNavigator.jspa?reset=true&amp;jqlQuery=%22Epic Link%22 = <%=epic.key%> and %22Story Points%22 is empty" target="_blank">
                        <span class="aui-icon aui-icon-small aui-iconfont-error simple-tooltip" title="<%= epic.percentUnestimatedStories %>% unestimated issues"></span>
                    </a>
                <% } else if (epic.percentUnestimatedStories > epic.percentUnestimatedWarningThreshold) { %>
                    <a href="{{hostBaseUrl}}/secure/IssueNavigator.jspa?reset=true&amp;jqlQuery=%22Epic Link%22 = <%=epic.key%> and %22Story Points%22 is empty" target="_blank">
                        <span class="aui-icon aui-icon-small aui-iconfont-warning simple-tooltip" title="<%= epic.percentUnestimatedStories %>% unestimated issues"></span>
                    </a>
                <% } %>
                <% if (epic.notInReleaseStoryCount > epic.notInReleaseThreshold) { %>
                    <a href="{{hostBaseUrl}}/secure/IssueNavigator.jspa?reset=true&amp;jqlQuery=%22Epic Link%22 = <%=epic.key%> and (fixVersion is empty or fixVersion != %22<%=versionName%>%22)" target="_blank">
                        <span class="aui-icon aui-icon-small aui-iconfont-error simple-tooltip" title="<%= epic.notInReleaseStoryCount %> issues not in release" ></a>
                    </a>
                <% } %>
            </td>
        <% } %>
        <td style="min-width: 300px" headers="progress">
            <ul class="ag-progress">
                <% if (epic.totalPoints == 0) { %>
                    <li class="ag-empty" style="width:100%"><span class="ag-status-info"><b>None</b></span></li>
                <% } else { %>
                    <% if (epic.donePoints > 0) { %>
                        <li class="ag-done simple-tooltip" style="width:<%=epic.percentDone%>%" title="<%=epic.donePoints%> Story Points Done">
                            <a href="{{hostBaseUrl}}/secure/IssueNavigator.jspa?reset=true&amp;jqlQuery=statusCategory = %22Done%22 AND %22Epic Link%22 = <%=epic.key%>" class="ag-status-info" target="_blank">
                                <b><%=epic.donePoints%></b>
                            </a>
                        </li>
                    <% } %>
                    <% if (epic.inProgressPoints > 0) { %>
                        <li class="ag-inprogress simple-tooltip" style="width:<%=epic.percentInProgress%>%" title="<%=epic.inProgressPoints%> Story Points In Progress">
                            <a href="{{hostBaseUrl}}/secure/IssueNavigator.jspa?reset=true&amp;jqlQuery=statusCategory = %22In Progress%22 AND %22Epic Link%22 = <%=epic.key%>" class="ag-status-info" target="_blank">
                                <b><%=epic.inProgressPoints%></b>
                            </a>
                        </li>
                    <% } %>
                    <% if (epic.toDoPoints > 0) { %>
                        <li class="ag-todo simple-tooltip" style="width:<%=epic.percentTodo%>%" title="<%=epic.toDoPoints%> Story Points To Do">
                            <a href="{{hostBaseUrl}}/secure/IssueNavigator.jspa?reset=true&amp;jqlQuery=statusCategory = %22To Do%22 AND %22Epic Link%22 = <%=epic.key%>" class="ag-status-info" target="_blank">
                                <b><%=epic.toDoPoints%></b>
                            </a>
                        </li>
                    <% } %>
                <% } %>
            </ul>
        </td>
    </tr>
</script>
<script type="text/underscore-template" id="epicTableLastRow">
    <tr>
        <td headers="summary">
            <a href="{{hostBaseUrl}}/secure/IssueNavigator.jspa?reset=true&amp;jqlQuery=project = %22<%=projectName%>%22 AND %22fixVersion%22 = %22<%=versionName%>%22 AND issuetype != Epic AND (%22Epic Link%22 is empty OR %22Epic Link%22 not in (<%=epicString%>))" class="ag-status-info" target="_blank">
                Issues without an Epic
            </a>
        </td>
        <td headers="status">
        </td>
        <% if (hasRisks) { %>
            <td headers="risk">
            </td>
        <% } %>
        <% if (hasAlerts) { %>
            <td headers="alerts">
                <% if (issues.percentUnestimatedStories > issues.percentUnestimatedErrorThreshold) { %>
                    <a href="{{hostBaseUrl}}/secure/IssueNavigator.jspa?reset=true&amp;jqlQuery=project = %22<%=projectName%>%22 AND %22fixVersion%22 = %22<%=versionName%>%22 AND issuetype != Epic AND (%22Epic Link%22 is empty OR %22Epic Link%22 not in (<%=epicString%>)) and %22Story Points%22 is empty" target="_blank">
                        <span class="aui-icon aui-icon-small aui-iconfont-error simple-tooltip" title="<%= issues.percentUnestimatedStories %>% unestimated issues"></span>
                    </a>
                <% } else if (issues.percentUnestimatedStories > issues.percentUnestimatedWarningThreshold) { %>
                    <a href="{{hostBaseUrl}}/secure/IssueNavigator.jspa?reset=true&amp;jqlQuery=project = %22<%=projectName%>%22 AND %22fixVersion%22 = %22<%=versionName%>%22 AND issuetype != Epic AND (%22Epic Link%22 is empty OR %22Epic Link%22 not in (<%=epicString%>)) and %22Story Points%22 is empty" target="_blank">
                        <span class="aui-icon aui-icon-small aui-iconfont-warning simple-tooltip" title="<%= issues.percentUnestimatedStories %>% unestimated issues"></span>
                    </a>
                <% } %>
            </td>
        <% } %>
        <td style="min-width: 300px" headers="progress">
            <ul class="ag-progress">
                <% if (issues.totalPoints == 0) { %>
                    <li class="ag-empty" style="width:100%"><span class="ag-status-info"><b>None</b></span></li>
                <% } else { %>
                    <% if (issues.donePoints > 0) { %>
                        <li class="ag-done simple-tooltip" style="width:<%=issues.percentDone%>%" title="<%=issues.donePoints%> Story Points Done">
                            <a href="{{hostBaseUrl}}/secure/IssueNavigator.jspa?reset=true&amp;jqlQuery=project = %22<%=projectName%>%22 AND %22fixVersion%22 = %22<%=versionName%>%22 AND statusCategory = %22Done%22 AND issuetype != Epic AND (%22Epic Link%22 is empty OR %22Epic Link%22 not in (<%=epicString%>))" class="ag-status-info" target="_blank">
                                <b><%=issues.donePoints%></b>
                            </a>
                        </li>
                    <% } %>
                    <% if (issues.inProgressPoints > 0) { %>
                        <li class="ag-inprogress simple-tooltip" style="width:<%=issues.percentInProgress%>%" title="<%=issues.inProgressPoints%> Story Points In Progress">
                            <a href="{{hostBaseUrl}}/secure/IssueNavigator.jspa?reset=true&amp;jqlQuery=project = %22<%=projectName%>%22 AND %22fixVersion%22 = %22<%=versionName%>%22 AND statusCategory = %22In Progress%22 AND issuetype != Epic AND (%22Epic Link%22 is empty OR %22Epic Link%22 not in (<%=epicString%>))" class="ag-status-info" target="_blank">
                                <b><%=issues.inProgressPoints%></b>
                            </a>
                        </li>
                    <% } %>
                    <% if (issues.toDoPoints > 0) { %>
                        <li class="ag-todo simple-tooltip" style="width:<%=issues.percentTodo%>%" title="<%=issues.toDoPoints%> Story Points To Do">
                            <a href="{{hostBaseUrl}}/secure/IssueNavigator.jspa?reset=true&amp;jqlQuery=project = %22<%=projectName%>%22 AND %22fixVersion%22 = %22<%=versionName%>%22 AND statusCategory = %22To Do%22 AND issuetype != Epic AND (%22Epic Link%22 is empty OR %22Epic Link%22 not in (<%=epicString%>))" class="ag-status-info" target="_blank">
                                <b><%=issues.toDoPoints%></b>
                            </a>
                        </li>
                    <% } %>
                <% } %>
            </ul>
        </td>
    </tr>
</script>


<!--Templates for Add-on Footer-->
<script type="text/underscore-template" id="addonFooterTemplate">
</script>


<!--Templates for Add-on Config-->
<script type="text/underscore-template" id="addonWrapperTemplate">
    <div id="addon-header">
        <table id='addon-header-table' class='aui'>
            <thead>
                <th></th>
                <th><h2>Summary of Epics in <b><%=config.projectName%></b> for <b><%=config.versionName%></b></h2></th>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    <div id="epics-in-release" class="aui-item"></div>
    <div id="addon-footer">
        <b>Summary of</b>
        <a href="{{hostBaseUrl}}/secure/IssueNavigator.jspa?reset=true&amp;jqlQuery=project = %22<%=config.projectName%>%22 AND %22fixVersion%22 = %22<%=config.versionName%>%22 AND issuetype = Epic Order by <%=config.sortFieldName%> <%=config.sortOrder%>" target="_blank">
            <%=config.projectName%> Epics in <%=config.versionName%>
        </a>
    </div>
</script>

<script type="text/underscore-template" id="addonConfigTemplate">
    <form class='aui'>
        <div class='field-group'>
            <label for='itemTitle'>Title:<span class='aui-icon icon-required'>required</span></label>
            <input class='text medium-field' type='text' id='itemTitle' value='<%=itemTitle%>'/>
        </div>
        <div class='field-group'>
            <label for='selectedProject'>Project:<span class='aui-icon icon-required'>required</span></label>
            <select class='select' id='selectedProject'></select>
        </div>
        <div class='field-group'>
            <label for='selectedVersion'>Release:<span class='aui-icon icon-required'>required</span></label>
            <select class='select' id='selectedVersion'></select>
        </div>
        <div class='field-group'>
            <label for='selectedField'>Sort by:<span class='aui-icon icon-required'>required</span></label>
            <select class='select' id='selectedField'></select>
        </div>
        <div class='field-group'>
            <label for='sortOrder'>Sort order:<span class='aui-icon icon-required'>required</span></label>
            <select class='select' id='sortOrder'></select>
        </div>
        <div class='field-group'>
            <label for="enableScaling">Scaling:</label>
            <div class="checkbox">
                <label>
                    <input type="checkbox" class="checkbox" id="enableScaling">
                    Normalize Epic progress bars relative to each other
                </label>
            </div>
        </div>
        <div class='field-group'>
            <label for="enableRefresh">Auto refresh:</label>
            <div class="checkbox">
                <label>
                    <input type="checkbox" class="checkbox" id="enableRefresh">
                    Update every 15 minutes
                </label>
            </div>
        </div>
        <div class='buttons-container'>
            <button type='submit' id='saveConfiguration' class='aui-button'>Save</button>
            <button type='submit' id='cancelConfiguration' class='aui-button aui-button-link cancel'>Cancel</button>
        </div>
    </form>
</script>


<script type="text/javascript" src="{{furl '/js/addon.js'}}"></script>
</body>
</html>