<!DOCTYPE html>
<html>
<head>
    <meta name="ap-local-base-url" content="{{localBaseUrl}}">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="dashboard" content="{{{dashboard}}}">
    <meta name="dashboardItem" content="{{{dashboardItem}}}">

    <link rel="stylesheet" href="//aui-cdn.atlassian.com/aui-adg/5.6.11/css/aui.css" media="all">
    <link rel="stylesheet" href="{{furl '/css/addon.css'}}" type="text/css" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="//aui-cdn.atlassian.com/aui-adg/5.6.11/js/aui.js" type="text/javascript"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script src="{{hostBaseUrl}}/atlassian-connect/all.js"></script>
</head>

<body>
<section id="content" role="main">
    <div class="aui-page-panel ac-content">
        <div class="aui-page-panel-inner">
            <section class="aui-page-panel-content">
                <div id="issues-in-project" class="aui-item">
                </div>
            </section>
        </div>
    </div>
</section>
<script type="text/underscore-template" id="issuesHeaderTemplate">
    <div>
        <table id='issuesHeaderTable' class='aui'>
            <thead>
                <th></th>
                <th>
                    <h2>Summary of Epics in <b><%=release.projectName%></b> for <b><%=release.versionName%></b></h2>
                </th>
            </thead>
            <tbody>
                <tr>
                    <td style="max-width: 75px">
                        Overall Progress:
                    </td>
                    <td>
                        <ul class="ag-progress">
                            <% if (release.totalPoints == 0) { %>
                                <li class="ag-empty" style="width:100%"><span class="ag-status-info"><b>None</b></span></li>
                            <% } else { %>
                                <% if (release.donePoints > 0) { %>
                                    <li class="ag-done " style="width:<%=release.percentDone%>%">
                                        <span class="ag-status-info"><b><%=release.donePoints%></b></span>
                                    </li>
                                <% } %>
                                <% if (release.inProgressPoints > 0) { %>
                                    <li class="ag-inprogress" style="width:<%=release.percentInProgress%>%">
                                        <span class="ag-status-info"><b><%=release.inProgressPoints%></b></span>
                                    </li>
                                <% } %>
                                <% if (release.toDoPoints > 0) { %>
                                    <li class="ag-todo" style="width:<%=release.percentTodo%>%">
                                        <span class="ag-status-info"><b><%=release.toDoPoints%></b></span>
                                    </li>
                                <% } %>
                            <% } %>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td style="max-width: 75px">
                        Overall Schedule:<br>
                        <i><%=release.startDate%></i> - <i><%=release.endDate%></i>
                    </td>
                    <td>
                        <ul class="ag-progress">
                            <% if (release.totalDays > 0) { %>
                                <%=release.totalDays%> = <%=release.daysPast%> + <%=release.daysRemaining%><br>
                                100% = <%=release.percentDaysDone%> + <%=release.percentDaysRemaining%>
                            <% } else { %>
                                <li class="ag-empty" style="width:100%"><span class="ag-status-info"><b>Release Schedule Not Available</b></span></li>
                            <% } %>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</script>
<script type="text/underscore-template" id="noIssuesTemplate">
    <span>No Epics found in <%=config.projectName%> for <%=config.versionName%>.</span>
</script>
<script type="text/underscore-template" id="issuesTableTemplate">
    <div id="issuesHeader"></div>
    <span><br></span>
    <table id='issuesTable' class='aui'>
        <thead>
            <th id="key">Key</th>
            <th id="summary">Summary</th>
            <th id="status">Status</th>
            <th id="unestimatedStories">Unestimated</th>
            <th id="progress">Progress</th>
        </thead>
        <tbody></tbody>
    </table>
    <span><br></span>
    <div id="issuesFooter"></div>
</script>
<script type="text/underscore-template" id="issueTableRow">
    <tr>
        <td headers="key">
            <a class="issue-link" data-issue-key="<%=epic.key%>" href="{{hostBaseUrl}}/browse/<%=epic.key%>" target="_blank"><%=epic.key%></a>
        </td>
        <td headers="summary">
            <p><a class="issue-link" data-issue-key="<%=epic.key%>" href="{{hostBaseUrl}}/browse/<%=epic.key%>" target="_blank"><%=epic.fields.summary%></a></p>
        </td>
        <td headers="status">
            <span class="aui-lozenge aui-lozenge-subtle <%=epic.lozengeColorClass%>"><%=epic.fields.status.statusCategory.name%></span>
        </td>
        <td headers="unestimatedStories">
            <% if (epic.storyCount > 0) { %>
                <a class="issue-link" data-issue-key="<%=epic.key%>" href="{{hostBaseUrl}}/secure/IssueNavigator.jspa?reset=true&amp;jqlQuery=%22Epic Link%22 = <%=epic.key%> and %22Story Points%22 is empty" target="_blank">
                    <%=epic.unestimatedStoryCount%> issue<% if (epic.unestimatedStoryCount != 1) print("s") %>
                </a>
                <% if (epic.percentUnestimatedStories > 50) { %>
                    <span class="aui-icon aui-icon-small aui-iconfont-error simple-tooltip" title="<%= epic.percentUnestimatedStories %>% unestimated issues"></span>
                <% } else if (epic.percentUnestimatedStories > 20) { %>
                    <span class="aui-icon aui-icon-small aui-iconfont-warning simple-tooltip" title="<%= epic.percentUnestimatedStories %>% unestimated issues"></span>
                <% } %>
            <% } else { %>
                N/A
            <% } %>
        </td>
        <td style="min-width: 300px" headers="progress">
            <ul class="ag-progress">
                <% if (epic.totalPoints == 0) { %>
                    <li class="ag-empty" style="width:100%"><span class="ag-status-info"><b>None</b></span></li>
                <% } else { %>
                    <% if (epic.donePoints > 0) { %>
                        <li class="ag-done " style="width:<%=epic.percentDone%>%">
                            <a href="{{hostBaseUrl}}/secure/IssueNavigator.jspa?reset=true&amp;jqlQuery=statusCategory = %22Done%22 AND %22Epic Link%22 = <%=epic.key%>"  class="ag-status-info" target="_blank">
                                <b><%=epic.donePoints%></b>
                            </a>
                        </li>
                    <% } %>
                    <% if (epic.inProgressPoints > 0) { %>
                        <li class="ag-inprogress" style="width:<%=epic.percentInProgress%>%">
                            <a href="{{hostBaseUrl}}/secure/IssueNavigator.jspa?reset=true&amp;jqlQuery=statusCategory = %22In Progress%22 AND %22Epic Link%22 = <%=epic.key%>"  class="ag-status-info" target="_blank">
                                <b><%=epic.inProgressPoints%></b>
                            </a>
                        </li>
                    <% } %>
                    <% if (epic.toDoPoints > 0) { %>
                        <li class="ag-todo" style="width:<%=epic.percentTodo%>%">
                            <a href="{{hostBaseUrl}}/secure/IssueNavigator.jspa?reset=true&amp;jqlQuery=statusCategory =%22To Do%22 AND %22Epic Link%22 = <%=epic.key%>" class="ag-status-info" target="_blank">
                                <b><%=epic.toDoPoints%></b>
                            </a>
                        </li>
                    <% } %>
                <% } %>
            </ul>
        </td>
    </tr>
</script>
<script type="text/underscore-template" id="issuesFooterTemplate">
    <div>
        <b>Summary of</b>
        <a href="{{hostBaseUrl}}/secure/IssueNavigator.jspa?reset=true&amp;jqlQuery=project = %22<%=config.projectName%>%22 AND %22fixVersion%22 = %22<%=config.versionName%>%22 AND issuetype = Epic" target="_blank">
            <%=config.projectName%> Epics in <%=config.versionName%>
        </a>
    </div>
</script>
<script type="text/underscore-template" id="dashboardItemConfigTemplate">
    <form class='aui'>
        <div class='field-group'>
            <label for='itemTitle'>Title:<span class='aui-icon icon-required'>required</span></label>
            <input class='text medium-field' type='text' id='itemTitle' value='<%=itemTitle%>'/>
        </div>
        <div class='field-group'>
            <label for='selectedProject'>Project:<span class='aui-icon icon-required'>required</span></label>
            <select class='select' id='selectedProject'></select>
        </div>
        <div class='field-group'>
            <label for='selectedVersion'>Release:<span class='aui-icon icon-required'>required</span></label>
            <select class='select' id='selectedVersion'></select>
        </div>
        <div class='buttons-container'>
            <button type='submit' id='saveConfiguration' class='aui-button'>Save</button>
            <button type='submit' id='cancelConfiguration' class='aui-button aui-button-link cancel'>Cancel</button>
        </div>
    </form>
</script>
<script type="text/javascript" src="{{furl '/js/addon.js'}}"></script>
</body>
</html>