<!DOCTYPE html>
<html>
<head>
    <meta name="ap-local-base-url" content="{{localBaseUrl}}">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="dashboard" content="{{{dashboard}}}">
    <meta name="dashboardItem" content="{{{dashboardItem}}}">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="{{hostBaseUrl}}/atlassian-connect/all.js"></script>
</head>

<body>
<section id="content" role="main">
    <div class="aui-page-panel ac-content">
        <div class="aui-page-panel-inner">
            <section id="addon-wrapper" class="aui-page-panel-content">
            </section>
        </div>
    </div>
</section>


<script type="text/underscore-template" id="loadingTemplate">
    <span>Loading data...</span> <span class="aui-icon aui-icon-wait">Loading...</span>
</script>

<script type="text/underscore-template" id="noIssuesTemplate">
    <span>No Epics found.</span>
</script>

<script type="text/underscore-template" id="epicTableRow">
    <tr>
        <td headers="summary">
            <p><a class="issue-link" data-issue-key="<%=epic.key%>" href="{{hostBaseUrl}}/browse/<%=epic.key%>" target="_blank"><%=epic.summary%></a></p>
        </td>
        <td headers="status">
            <span class="aui-lozenge aui-lozenge-subtle <%=epic.lozengeColorClass%>"><%=epic.statusCategoryName%></span>
        </td>
        <% if (hasAlerts) { %>
            <td headers="alerts">
                <% if (epic.notInWigCount > 0) { %>
                    <a href="{{hostBaseUrl}}/secure/IssueNavigator.jspa?reset=true&amp;jqlQuery=%22Epic Link%22 = <%=epic.key%> and (labels is empty or labels != %22<%=label%>%22)" target="_blank">
                        <span class="aui-icon aui-icon-small aui-iconfont-error simple-tooltip" title="<%= epic.notInWigCount %> issues not in wig" />
                    </a>
                <% } %>
            </td>
        <% } %>
        <td style="min-width: 300px" headers="progress">
            <ul class="ag-progress">
                <% if (epic.issues.length == 0) { %>
                    <li class="ag-empty" style="width:100%"><span class="ag-status-info"><b>None</b></span></li>
                <% } else { %>
                    <% if (epic.done > 0) { %>
                        <li class="ag-done simple-tooltip" style="width:<%=epic.percentDone%>%" title="<%=epic.done%> Tasks Done">
                            <a href="{{hostBaseUrl}}/secure/IssueNavigator.jspa?reset=true&amp;jqlQuery=statusCategory = %22Done%22 AND %22Epic Link%22 = <%=epic.key%>" class="ag-status-info" target="_blank">
                                <b><%=epic.done%></b>
                            </a>
                        </li>
                    <% } %>
                    <% if (epic.inProgress > 0) { %>
                        <li class="ag-inprogress simple-tooltip" style="width:<%=epic.percentInProgress%>%" title="<%=epic.inProgress%> Tasks In Progress">
                            <a href="{{hostBaseUrl}}/secure/IssueNavigator.jspa?reset=true&amp;jqlQuery=statusCategory = %22In Progress%22 AND %22Epic Link%22 = <%=epic.key%>" class="ag-status-info" target="_blank">
                                <b><%=epic.inProgress%></b>
                            </a>
                        </li>
                    <% } %>
                    <% if (epic.toDo > 0) { %>
                        <li class="ag-todo simple-tooltip" style="width:<%=epic.percentTodo%>%" title="<%=epic.toDo%> Tasks To Do">
                            <a href="{{hostBaseUrl}}/secure/IssueNavigator.jspa?reset=true&amp;jqlQuery=statusCategory = %22To Do%22 AND %22Epic Link%22 = <%=epic.key%>" class="ag-status-info" target="_blank">
                                <b><%=epic.toDo%></b>
                            </a>
                        </li>
                    <% } %>
                <% } %>
            </ul>
        </td>
    </tr>
</script>

<script type="text/underscore-template" id="epicTableLastRow">
    <tr>
        <td headers="summary">
            <a href="{{hostBaseUrl}}/secure/IssueNavigator.jspa?reset=true&amp;jqlQuery=labels = %22<%=label%>%22 AND issuetype != Epic AND (%22Epic Link%22 is empty OR %22Epic Link%22 not in (<%=epicString%>))" class="ag-status-info" target="_blank">
                Issues without an Epic
            </a>
        </td>
        <td headers="status">
        </td>
        <% if (hasAlerts) { %>
            <td headers="alerts">
            </td>
        <% } %>
        <td style="min-width: 300px" headers="progress">
            <ul class="ag-progress">
                <% if (noEpic.issues.length == 0) { %>
                    <li class="ag-empty" style="width:100%"><span class="ag-status-info"><b>None</b></span></li>
                <% } else { %>
                    <% if (noEpic.done > 0) { %>
                        <li class="ag-done simple-tooltip" style="width:<%=noEpic.percentDone%>%" title="<%=noEpic.done%> Tasks Done">
                            <a href="{{hostBaseUrl}}/secure/IssueNavigator.jspa?reset=true&amp;jqlQuery=labels = %22<%=label%>%22 AND statusCategory = %22Done%22 AND issuetype != Epic AND (%22Epic Link%22 is empty OR %22Epic Link%22 not in (<%=epicString%>))" class="ag-status-info" target="_blank">
                                <b><%=noEpic.done%></b>
                            </a>
                        </li>
                    <% } %>
                    <% if (noEpic.inProgress > 0) { %>
                        <li class="ag-inprogress simple-tooltip" style="width:<%=noEpic.percentInProgress%>%" title="<%=noEpic.inProgress%> Tasks In Progress">
                            <a href="{{hostBaseUrl}}/secure/IssueNavigator.jspa?reset=true&amp;jqlQuery=labels = %22<%=label%>%22 AND statusCategory = %22In Progress%22 AND issuetype != Epic AND (%22Epic Link%22 is empty OR %22Epic Link%22 not in (<%=epicString%>))" class="ag-status-info" target="_blank">
                                <b><%=noEpic.inProgress%></b>
                            </a>
                        </li>
                    <% } %>
                    <% if (noEpic.toDo > 0) { %>
                        <li class="ag-todo simple-tooltip" style="width:<%=noEpic.percentTodo%>%" title="<%=noEpic.toDo%> Tasks To Do">
                            <a href="{{hostBaseUrl}}/secure/IssueNavigator.jspa?reset=true&amp;jqlQuery=labels = %22<%=label%>%22 AND statusCategory = %22To Do%22 AND issuetype != Epic AND (%22Epic Link%22 is empty OR %22Epic Link%22 not in (<%=epicString%>))" class="ag-status-info" target="_blank">
                                <b><%=noEpic.toDo%></b>
                            </a>
                        </li>
                    <% } %>
                <% } %>
            </ul>
        </td>
    </tr>
</script>


<script type="text/underscore-template" id="addonWrapperTemplate">
    <div id="addon-header">
        <table id='addon-header-table' class='aui'>
            <thead>
                <th></th>
                <th><h2>Summary of Epics in <b><%=label%></b></h2></th>
            </thead>

            <tbody>
                <tr>
                    <td>Overall Progress:</td>
                    <td>
                        <ul class="ag-progress">
                            <% if (progress.total == 0) { %>
                                <li class="ag-notfound" style="width:100%"><span class="ag-status-info"><b>None</b></span></li>
                            <% } else { %>
                                <% if (progress.done > 0) { %>
                                    <li class="ag-done simple-tooltip" style="width:<%=progress.percentDone%>%" title="<%=progress.done%> Tasks Done">
                                        <a href="{{hostBaseUrl}}/secure/IssueNavigator.jspa?reset=true&amp;jqlQuery=statusCategory = %22Done%22 AND labels = %22<%=label%>%22" class="ag-status-info" target="_blank">
                                            <b><%=progress.done%></b>
                                        </a>
                                    </li>
                                <% } %>
                                <% if (progress.inProgress > 0) { %>
                                    <li class="ag-inprogress simple-tooltip" style="width:<%=progress.percentInProgress%>%" title="<%=progress.inProgress%> Tasks In Progress">
                                        <a href="{{hostBaseUrl}}/secure/IssueNavigator.jspa?reset=true&amp;jqlQuery=statusCategory = %22In Progress%22 AND labels = %22<%=label%>%22" class="ag-status-info" target="_blank">
                                            <b><%=progress.inProgress%></b>
                                        </a>
                                    </li>
                                <% } %>
                                <% if (progress.toDo > 0) { %>
                                    <li class="ag-todo simple-tooltip" style="width:<%=progress.percentTodo%>%" title="<%=progress.toDoP%> Tasks To Do">
                                        <a href="{{hostBaseUrl}}/secure/IssueNavigator.jspa?reset=true&amp;jqlQuery=statusCategory = %22To Do%22 AND labels = %22<%=label%>%22" class="ag-status-info" target="_blank">
                                            <b><%=progress.toDo%></b>
                                        </a>
                                    </li>
                                <% } %>
                            <% } %>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>
                        Overall Schedule:<br>
                    </td>
                    <td>
                        <ul class="ag-progress">
                            <% if (dates.totalDays == 0) { %>
                                <li class="ag-notfound" style="width:100%"><span class="ag-status-info"><b>Schedule Not Available</b></span></li>
                            <% } else { %>
                                <% if (dates.daysPast > 0) { %>
                                    <li class="ag-past" style="width:<%=dates.percentDaysPast%>%">
                                        <span class="ag-status-info simple-tooltip" title="<%=dates.daysPast%> Days Past"><b><%=dates.daysPast%> Days Past</b></span>
                                    </li>
                                <% } %>
                                <% if (dates.daysRemaining > 0) { %>
                                    <li class="ag-future" style="width:<%=dates.percentDaysRemaining%>%">
                                        <span class="ag-status-info simple-tooltip" title="<%=dates.daysRemaining%> Days Remaining"><b><%=dates.daysRemaining%> Days Remaining</b></span>
                                    </li>
                                <% } %>
                            <% } %>
                        </ul>
                        <div style="display: flex; width: 100%">
                        <div style="width: 50%"><small><em><%=dates.startDate%></em></small></div>
                        <div style="width: 50%"><small><em style="float: right;"><%=dates.endDate%></em></small></div>
                        </div>
                    </td>
                </tr>
            </tbody>

        </table>
    </div>
    <div id="epics-in-wig" class="aui-item">
        <span><br></span>
        <table id='epic-table' class='aui'>
            <thead>
                <th id="summary">Summary</th>
                <th id="status">Status</th>
                <% if (hasAlerts) { %>
                    <th id="alerts">Alerts</th>
                <% } %>
                <th id="progress">Progress</th>
            </thead>
            <tbody></tbody>
        </table>
        <span><br></span>
    </div>
    <div id="addon-footer">
        <b>Summary of Epics in</b>
        <a href="{{hostBaseUrl}}/secure/IssueNavigator.jspa?reset=true&amp;jqlQuery=labels = %22<%=label%>%22 AND issuetype = Epic" target="_blank">
            <%=label%>
        </a>
    </div>
</script>

<script type="text/underscore-template" id="addonConfigTemplate">
    <form class='aui'>
    <fieldset>
        <div class='field-group'>
            <label for='itemTitle'>Title:<span class='aui-icon icon-required'>required</span></label>
            <input class='text medium-field' type='text' id='itemTitle' value='<%- title %>'/>
        </div>
        <div class='field-group'>
            <label for='wigLabel'>JIRA Label:<span class='aui-icon icon-required'>required</span></label>
            <input class='text medium-field' type='text' id='wigLabel' value='<%- label %>'/>
        </div>
    </fieldset>
    <fieldset>
        <div class='field-group'>
            <label for='wigStartDate'>Start Date:<span class='aui-icon icon-required'>required</span></label>
            <input class='aui-date-picker text medium-field' type='date' id='wigStartDate' value='<%- start %>'/>
        </div>
        <div class='field-group'>
            <label for='wigEndDate'>End Date:<span class='aui-icon icon-required'>required</span></label>
            <input class='aui-date-picker text medium-field' type='date' id='wigEndDate' value='<%- end %>'/>
        </div>
    </fieldset>
    <fieldset>
        <div class="field-group">
            <label for="wigDescription">Description:</label>
            <textarea class="textarea" rows="6" cols="20" name="wigDescription" id="wigDescription"><%- description %></textarea>
        </div>
        <div class='field-group'>
            <label for="enableScaling">Scaling:</label>
            <div class="checkbox">
                <label>
                    <input type="checkbox" class="checkbox" id="enableScaling">
                    Normalize Epic progress bars relative to each other
                </label>
            </div>
        </div>
    </fieldset>
        <div class='buttons-container'>
            <button type='submit' id='saveConfiguration' class='aui-button'>Save</button>
            <button type='submit' id='cancelConfiguration' class='aui-button aui-button-link cancel'>Cancel</button>
        </div>
    </form>
</script>


<script type="text/javascript" src="{{furl '/js/bundle.js'}}"></script>
</body>
</html>